/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 480px) {
  body {
    color: #1f1a38;
    background: #e5e6e7;
    font-family: 'Merriweather', serif;
    font-size: 62.5%;
    overflow-x: hidden !important;
  }

  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  #logo {
    width: 8rem;
    padding-left: 0.2rem;
  }

  .hidden {
    display: none;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 0.8rem;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
    color: #1f1a38;
  }

  /* 
  TODO: hover not working
  .nav-links a:hover {
    color: #d7182a;
  } */

  #navburger {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-right: 5px;
  }
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
  margin: 5px;
}

h1,
h2 {
  color: #d7182a;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

#heroImage,
#aboutImage {
  width: 90%;
  height: auto;
  display: block;
  margin: 20px auto;
}
p {
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.buttonLink {
  padding: 7px 9px;
  background: black;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 0.65rem;
  display: block;
  margin: auto;
  width: 10em;
}

#departmentList {
  display: flex;
  flex-wrap: wrap;
}
#departmentList li {
  list-style-type: none;
  width: 50%;
  padding-bottom: 10px;
}
#departmentList i {
  padding-right: 10px;
  color: #b68a2d;
  font-size: 1.4rem;
}

/* #about {
  padding-top: 10px;
  padding-bottom: 10px;
} */
main,
#about,
footer {
  background-color: #dbe3ea;
}

footer {
  padding: 0.3rem 2rem;
  font-size: 0.8rem;
}
footer p {
  width: 100%;
  text-align: left;
}
