/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media screen and (max-width: 480px) {
  body {
    color: #1f1a38;
    background: #e5e6e7;
    font-family: 'Merriweather', serif;
    font-size: 62.5%;
    overflow-x: hidden !important;
  }

  .container {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  header {
    display: flex;
    justify-content: space-between;
  }
  #logo {
    width: 8rem;
    padding-left: 0.2rem;
  }

  .hidden {
    display: none;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 0.8rem;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
    color: #1f1a38;
  }

  /* 
  TODO: hover not working
  .nav-links a:hover {
    color: #d7182a;
  } */

  #navburger {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-right: 5px;
  }
}

h1 {
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
  text-align: center;
  margin: 5px;
}

h1,
h2 {
  color: #d7182a;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

#heroImage,
#aboutImage {
  width: 90%;
  height: auto;
  display: block;
  margin: 20px auto;
}
p {
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.buttonLink {
  padding: 7px 9px;
  background: black;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 0.65rem;
  display: block;
  margin: auto;
  width: 10em;
}

#departmentList {
  display: flex;
  flex-wrap: wrap;
}
#departmentList li {
  list-style-type: none;
  width: 50%;
  padding-bottom: 10px;
}
#departmentList i {
  padding-right: 10px;
  color: #b68a2d;
  font-size: 1.4rem;
}

/* #about {
  padding-top: 10px;
  padding-bottom: 10px;
} */
main,
#about,
footer {
  background-color: #dbe3ea;
}

footer {
  padding: 0.3rem 2rem;
  font-size: 0.8rem;
}
footer p {
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  body {
    color: #1f1a38;
    background: #e5e6e7;
    font-family: 'Merriweather', serif;
    font-size: 62.5%;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  } 
  header {
    display: flex;
    justify-content: space-between;
  }
  #logo {
    width: 8rem;
    padding-left: 0.2rem;
  }

  .hidden {
    display: none;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 0.8rem;
  }

  .nav-links a {
    text-decoration: none;
    font-size: 0.9rem;
    transition: color 0.3s ease;
    color: #1f1a38;
  }

  /* 
  TODO: hover not working
  .nav-links a:hover {
    color: #d7182a;
  } */

  #navburger {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-right: 5px;
  }
  h1 {
    font-size: 1.4rem;
    width: 100%;
    margin-left: 0.5rem;
    margin-top: 60px;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h1,
  h2 {
    color: #d7182a;
  }

  p {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
  main {
    display: flex;
    /* height: 60vh; */
  }
  
  .mainText,
  #aboutText {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .mainText > p,
  .mainText > a {
    font-size: 0.9rem;
    margin-left: 0.2rem;
  }
  
  .mainSection,
  .aboutSection {
    width: 50%;
    padding: 1rem;
    display: flex;
  }
  
  #heroImage,
  #aboutImage {
    width: 100%;
    height: auto;
    display: block;
    margin: 2rem auto;
    border-radius: 10px;
    box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
  }
  
  .buttonLink {
    padding: 8px 12px;
    background: black;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    align-self: flex-start;
    font-size: 0.6rem;
  }
  
  #department {
    padding: 1rem 0;
    margin: 1rem 0;
  }
  #department h2 {
    padding-bottom: 0.5rem;
    font-size: 1.2rem;
  }
  #departmentList {
    display: flex;
    justify-content: space-around;
  }
  
  #departmentList li {
    list-style-type: none;
  }
  i {
    padding-right: 10px;
    color: #b68a2d;
    font-size: 2rem;
  }
  
  #about {
    display: flex;
    height: 350px;
  }
  
  #about img, #heroImage {
    width: 350px;
    height: 250px;
  }
  
  #aboutText {
    padding-left: 20px;
  }
  
  main,
  #about,
  footer {
    background-color: #dbe3ea;
  }
  
  #servicesHeading {
    text-align: right;
    padding-top: 1.5rem;
  }
  
  #services {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
  }
  
  
  .serviceItem {
    padding: 1rem;
    flex-basis: 30%;
  }
  
  .blurb {
    display: block;
    padding-bottom: 30px;
  }
  
  footer {
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
  }
}